html {
  height: 100%;
  background: #000;
}

@-webkit-keyframes progress1 {
  0% {
    transform: scalex(0);
    opacity: 0.5;
  }
  90% {
    transform: scalex(1);
    opacity: 1;
  }
  92% {
    transform: scalex(1);
    opacity: 1;
  }
  100% {
    transform: scalex(1);
    opacity: 0;
  }
}

@keyframes progress1 {
  0% {
    transform: scalex(0);
    opacity: 0.5;
  }
  90% {
    transform: scalex(1);
    opacity: 1;
  }
  92% {
    transform: scalex(1);
    opacity: 1;
  }
  100% {
    transform: scalex(1);
    opacity: 0;
  }
}
@-webkit-keyframes progress2 {
  0% {
    transform: scale(0.3, 0.8) translatez(0);
    opacity: 0;
  }
  90% {
    transform: scale(1, 1) translatex(300px) translatez(0);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1) translatex(300px) translatez(0);
    opacity: 0;
  }
}
@keyframes progress2 {
  0% {
    transform: scale(0.3, 0.8) translatez(0);
    opacity: 0;
  }
  90% {
    transform: scale(1, 1) translatex(300px) translatez(0);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1) translatex(300px) translatez(0);
    opacity: 0;
  }
}
.line {
  position: absolute;
  top: 50%;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  height: 3px;
  background: rgba(255, 255, 255, 0.1);
}
.line:before {
  -webkit-animation: progress1 4s infinite;
          animation: progress1 4s infinite;
  transform-origin: 0 0;
  content: "";
  display: block;
  width: 300px;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.4) 80%, white);
}
.line:after {
  content: "";
  position: absolute;
  -webkit-animation: progress2 4s infinite;
          animation: progress2 4s infinite;
  transform-origin: 90% 50%;
  margin-left: -24px;
  top: -9px;
  width: 30px;
  height: 21px;
  border-radius: 2px;
  background: rgba(210, 189, 255, 0.55);
  filter: blur(8px);
  box-shadow: 0 0 10px 6px rgba(210, 189, 255, 0.4), -20px 0 15px 4px rgba(210, 189, 255, 0.3), -40px 0 15px 2px rgba(210, 189, 255, 0.2), -60px 0 10px 1px rgba(210, 189, 255, 0.1), -80px 0 10px 1px rgba(210, 189, 255, 0.05);
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  white-space: nowrap;
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

.script_text.show {
  opacity: 0;
}

.reveal img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  will-change: transform;
}

.reveal {
  visibility: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.effect {
  will-change: transform;
}


.content {
  left: 0;
  top: 0;
  display: flex;
}


.sec_wrap {
  display: flex;

}

.section {
  width: 100vw;
  height: 100vh;
  position: relative;
  /* border-right:1px solid #fff; */
}

#section1 .clrcles {
  position: relative;
  z-index: 99999;
}

.clrcle::after {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: #C2FF04;
  top: 8px;
  margin-left: 10px;
}


/* header */
#header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.8);
  top: -100%;
  left: 0;
  color: #fff;
  padding: 0.5vw 1vw;
  text-transform: uppercase;
  z-index: 10000;
  font-family: "Abel";
  white-space: nowrap;
  align-items: center;

}

#header .menu {
  padding: 2px;
}

#header a {
  font-size: 1.1em;
}

#header .menu a:nth-child(1) {
  margin-right: 1vw;
}

#header .menu a:last-child {
  margin-left: 1vw;
}

#header .center {
  border: 1px solid #fff;
  border-radius: 50px;
  font-size: 1em;
  padding: 0.2vw 1vw;
  width: 400px;
  position: relative;
  overflow: hidden;
}

#header span::before {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: #C2FF04;
  top: 8px;
  margin-left: -1.1vw;
}

#header .dot {
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: #fff;
  padding: 0;
}

#header div {
  padding: 0vw 0.8vw;
  text-align: center;
}

#header .menu {
  display: flex;
  align-items: center;
}


/* section1 */
#section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Syncopate';
  font-weight: 700;
  line-height: 1;
  position: relative;
}

#section1 .sec_text {
  color: #fff;
  font-size: 6vw;
  text-align: center;
  letter-spacing: -1px;
  z-index: 99;

}

.sec_text .t1 {
  opacity: 0;
}

.sec_text .t2 {
  padding-right: 40vw;
  opacity: 0;
}

.sec_text .t3 {
  opacity: 0;
}

.sec_text .t4 {
  font-size: 1vw;
  font-family: "Abel";
  font-weight: normal;
  text-align: right;
  padding-right: 8vw;
  margin-top: -1vw;
  letter-spacing: -1px;
  opacity: 0;
}

#container {
  position: fixed;
  width: 100%;
  text-align: center;
  display: block;
}


/* section2 */
#section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

#section2 .mainTitle .text1 {
  text-align: center;
  font-weight: 700;
  font-family: "Syncopate";
  font-size: 6vw;
  color: #fff;
}

#section2 .mainTitle .text2 {
  text-align: center;
  font-family: "Tulpen One";
  font-size: 6vw;
  color: #fff;
}



/* section3 */
#section3 {
  display: flex;
  align-items: center;
  width: 400vw;
  background: #000;
}

#section3 .view2 {
  width: 80vw;
  height: 100vh;
}

#section3 .view3 {
  width: 80vw;
  height: 100vh;
}

#section3 .view4 {
  width: 80vw;
  height: 100vh;
}

#section3 .view5 {
  width: 80vw;
  height: 100vh;
}

#section3 .view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 100vh;
  position: relative;
}

#section3 .view1 .site_view {
  width: 50vw;
  height: 50vh;
  background: #000;
  background: url(https://www.cappen.com/2022/img/cases/desktop/neondoor.4b62864487.png) no-repeat center center;
  background-size: cover;
  padding: 2.5vw 3vw;
}

#section3 .view2 .site_view {
  width: 50vw;
  height: 50vh;
  background: #000;
  background: url(https://images.unsplash.com/photo-1649015890522-6c64181b0abe?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932) no-repeat center center;
  background-size: cover;
  padding: 2.5vw 3vw;
}

#section3 .view3 .site_view {
  width: 50vw;
  height: 50vh;
  background: #000;
  background: url(https://images.unsplash.com/photo-1649353935169-fe9911bf240f?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332) no-repeat center center;
  background-size: cover;
  padding: 2.5vw 3vw;
}

#section3 .view4 .site_view {
  width: 50vw;
  height: 50vh;
  background: #000;
  background: url(https://images.unsplash.com/photo-1644251966508-47b1a3d2e56d?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332) no-repeat center center;
  background-size: cover;
  padding: 2.5vw 3vw;
}

#section3 .view5 .site_view {
  width: 50vw;
  height: 50vh;
  background: #000;
  background: url(https://images.unsplash.com/photo-1644251966613-170a26996adb?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332) no-repeat center center;
  background-size: cover;
  padding: 2.5vw 3vw;
}

#section3 .view .site_view .site_text a {
  font-weight: 700;
  font-family: "Syncopate";
  font-size: 0.7vw;
  color: #000;
  text-transform: uppercase;
  background: #fff;
  padding: 0.7vw 2vw 0.5vw 2vw;

}

#section3 .view1 .site {
  position: absolute;
  width: 30vw;
  height: 30vh;
  background: #fff;
  left: 55%;
  top: 55%;
  background: url(./assets/img/web.jpg) no-repeat center center;
  background-size: cover;
}

#section3 .view2 .site {
  position: absolute;
  width: 30vw;
  height: 30vh;
  background: #fff;
  left: 55%;
  top: 55%;
  background: url(./assets/img/web2.jpg) no-repeat center center;
  background-size: cover;
}

#section3 .view3 .site {
  position: absolute;
  width: 30vw;
  height: 30vh;
  background: #fff;
  left: 55%;
  top: 55%;
  background: url(./assets/img/react.jpg) no-repeat center center;
  background-size: cover;
}

#section3 .view4 .site {
  position: absolute;
  width: 30vw;
  height: 30vh;
  background: #fff;
  left: 55%;
  top: 55%;
  background: url() no-repeat center center;
  background-size: cover;
}

#section3 .view5 .site {
  position: absolute;
  width: 30vw;
  height: 30vh;
  background: #fff;
  left: 55%;
  top: 55%;
  background: url(./assets/img/php.jpg) no-repeat center center;
  background-size: cover;
}

#section3 .view h2 {
  margin-bottom: 1vw;
  font-weight: 700;
  font-family: "Syncopate";
  font-size: 4vw;
  color: #fff;
  text-transform: uppercase;
}

#section3 .view p {
  line-height: 1.3;
  white-space: normal;
  width: 25vw;
  font-family: "IropkeBatang";
  font-size: 0.8vw;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}


/* section4 */
#section4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#section4 .mainTitle {
  z-index: 9999;
}

#section4 .mainTitle .text1 {
  text-align: center;
  font-weight: 700;
  font-family: "Syncopate";
  font-size: 6vw;
  color: #fff;
}

#section4 .mainTitle .text2 {
  text-align: center;
  font-family: "Tulpen One";
  font-size: 6vw;
  color: #fff;
}


/* section5 */
#section5 {
  display: flex;
  align-items: center;
  width: 300vw;
  position: relative;
  background-color: #000;
}

#section5 .view1 {
  width: 75vw;
  height: 100vh;

}

#section5 .view2 {
  width: 75vw;
  height: 100vh;
}

#section5 .view3 {
  width: 75vw;
  height: 100vh;
}

#section5 .view4 {
  width: 75vw;
  height: 100vh;
}

#section5 .view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 100vh;
  position: relative;

}

#section5 .view1 .script_view {
  width: 25vw;
  height: 80vh;
  background: #000;
  background: url(https://images.unsplash.com/photo-1598008058973-9c3bae051393?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1225) no-repeat center center;
  background-size: cover;
  position: relative;
  transform-origin: 100% 50%;
}

#section5 .view2 .script_view {
  width: 25vw;
  height: 80vh;
  background: #000;
  background: url(https://images.unsplash.com/photo-1597423244668-2b3aabf55a9e?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074) no-repeat center center;
  background-size: cover;
  position: relative;
  transform-origin: 100% 50%;
}

#section5 .view3 .script_view {
  width: 25vw;
  height: 80vh;
  background: #000;
  background: url(https://images.unsplash.com/photo-1598008058899-4167c1b3d75d?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974) no-repeat center center;
  background-size: cover;
  position: relative;
  transform-origin: 100% 50%;

}

#section5 .view4 .script_view {
  width: 25vw;
  height: 80vh;
  background: #000;
  background: url(https://images.unsplash.com/photo-1597423244036-ef5020e83f3c?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074) no-repeat center center;
  background-size: cover;
  position: relative;
  transform-origin: 100% 50%;

}

#section5 .view .script_text {
  margin-top: 5vw;
  margin-left: 4vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#section5 .view2 .script_text {
  margin-top: 2vw;
  margin-left: 4vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 69%;
}

#section5 .view4 .script_text {
  margin-top: 2vw;
  margin-left: 4vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 69%;
}

#section5 .view .script_text a {
  font-weight: 700;
  font-family: "Syncopate";
  font-size: 0.7vw;
  color: #000;
  text-transform: uppercase;
  background: #fff;
  padding: 0.7vw 2vw 0.5vw 2vw;
  display: inline-block;
}

#section5 .view h2 {
  margin-bottom: 1vw;
  font-weight: 700;
  font-family: "Syncopate";
  font-size: 4vw;
  color: #fff;
  text-transform: uppercase;
}

#section5 .view p {
  line-height: 1.3;
  white-space: normal;
  width: 25vw;
  font-family: "IropkeBatang";
  font-size: 0.8vw;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1vw;
}

#section5 .view1 .script_view {
  transition: outline 0.3s;
}

#section5 .view1 .script_view iframe {
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s;
}

#section5 .view1 .script_view:hover>iframe {
  opacity: 1;
}

#section5 .view2 .script_view {
  transition: outline 0.3s;
}

#section5 .view2 .script_view iframe {
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s;
}

#section5 .view2 .script_view:hover>iframe {
  opacity: 1;

}

#section5 .view3 .script_view {
  transition: outline 0.3s;
}

#section5 .view3 .script_view iframe {
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s;
}

#section5 .view3 .script_view:hover>iframe {
  opacity: 1;

}

#section5 .view4 .script_view {
  transition: outline 0.3s;
}

#section5 .view4 .script_view iframe {
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s;
}

#section5 .view4 .script_view:hover>iframe {
  opacity: 1;

}



/* section6 */
#section6 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#section6 .mainTitle .text1 {
  text-align: center;
  font-weight: 700;
  font-family: "Syncopate";
  font-size: 6vw;
  color: #fff;
}

#section6 .mainTitle .text2 {
  text-align: center;
  font-family: "Tulpen One";
  font-size: 6vw;
  color: #fff;
}



/* section7 */
#section7 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320vw;
  position: relative;
  background: #000;
}

.slide {
  position: relative;
}

.mouse {
  position: relative;
}

.search {
  position: relative;
}

.parallax {
  position: relative;
}

.slideImg {
  width: 52.0833vw;
  height: 26.0417vw;
  position: relative;
  transition: border 0.5s;
  margin-right: 15vw;
}

.slide iframe {
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
}

#section7 .slide .script_text {
  margin-top: 2vw;
  margin-left: 4vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  bottom: -20%;
  right: 15%;
}

#section7 .slide .script_text a {
  font-weight: 700;
  font-family: "Syncopate";
  font-size: 0.7vw;
  color: #000;
  text-transform: uppercase;
  background: #fff;
  padding: 0.7vw 0.7vw;
  display: inline-block;
}

#section7 .slide h2 {
  margin-bottom: 1vw;
  font-weight: 700;
  font-family: "Syncopate";
  font-size: 4vw;
  color: #fff;
  text-transform: uppercase;
}

#section7 .slide p {
  line-height: 1.3;
  white-space: normal;
  font-family: "IropkeBatang";
  font-size: 0.8vw;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1vw;
}

.mouseImg {
  width: 52.0833vw;
  height: 26.0417vw;
  position: relative;
  transition: border 0.5s;
  margin-right: 15vw;
}

.mouse iframe {
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
}

#section7 .mouse .script_text {
  margin-top: 2vw;
  margin-left: 4vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  bottom: -20%;
  right: 15%;
}

#section7 .mouse .script_text a {
  font-weight: 700;
  font-family: "Syncopate";
  font-size: 0.7vw;
  color: #000;
  text-transform: uppercase;
  background: #fff;
  padding: 0.7vw 0.7vw;
  display: inline-block;
}

#section7 .mouse h2 {
  margin-bottom: 1vw;
  font-weight: 700;
  font-family: "Syncopate";
  font-size: 4vw;
  color: #fff;
  text-transform: uppercase;
}

#section7 .mouse p {
  line-height: 1.3;
  white-space: normal;
  font-family: "IropkeBatang";
  font-size: 0.8vw;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1vw;
}

.searchImg {
  width: 52.0833vw;
  height: 26.0417vw;
  position: relative;
  transition: border 0.5s;
  margin-right: 15vw;
}

.search iframe {
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
}

#section7 .search .script_text {
  margin-top: 2vw;
  margin-left: 4vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  bottom: -20%;
  right: 15%;
}

#section7 .search .script_text a {
  font-weight: 700;
  font-family: "Syncopate";
  font-size: 0.7vw;
  color: #000;
  text-transform: uppercase;
  background: #fff;
  padding: 0.7vw 0.7vw;
  display: inline-block;
}

#section7 .search h2 {
  margin-bottom: 1vw;
  font-weight: 700;
  font-family: "Syncopate";
  font-size: 4vw;
  color: #fff;
  text-transform: uppercase;
}

#section7 .search p {
  line-height: 1.3;
  white-space: normal;
  font-family: "IropkeBatang";
  font-size: 0.8vw;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1vw;
}

.parallaxImg {
  width: 52.0833vw;
  height: 26.0417vw;
  position: relative;
  transition: border 0.5s;
  margin-right: 15vw;
}

.parallax iframe {
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
}

#section7 .parallax .script_text {
  margin-top: 2vw;
  margin-left: 4vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  bottom: -20%;
  right: 15%;
}

#section7 .parallax .script_text a {
  font-weight: 700;
  font-family: "Syncopate";
  font-size: 0.7vw;
  color: #000;
  text-transform: uppercase;
  background: #fff;
  padding: 0.7vw 0.7vw;
  display: inline-block;
}

#section7 .parallax h2 {
  margin-bottom: 1vw;
  font-weight: 700;
  font-family: "Syncopate";
  font-size: 4vw;
  color: #fff;
  text-transform: uppercase;
}

#section7 .parallax p {
  line-height: 1.3;
  white-space: normal;
  font-family: "IropkeBatang";
  font-size: 0.8vw;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1vw;
}


/* section8 */
#section8 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#section8 .mainTitle .text1 {
  text-align: center;
  font-weight: 700;
  font-family: "Syncopate";
  font-size: 6vw;
  color: #fff;
}

#section8 .mainTitle .text2 {
  text-align: center;
  font-family: "Tulpen One";
  font-size: 6vw;
  color: #fff;
}



/* section9 */
#section9 {
  display: flex;
  align-items: center;
  background: #000;
  width: 300vw;
}

.gallery {
  display: flex;
  padding-right: 12vw;
  margin-left: 5vw;
}

.gallery__item {
  margin: 0 3vw;
  display: grid;
  grid-template-areas: '... ...'
                      '... gallery-image'
                      '... ...';
  grid-template-columns: 1rem 28vmax;
  grid-template-rows: 10rem 28vmax 1rem;
}

.gallery__item-img {
  grid-area: gallery-image;
  width: 80%;
  height: 80%;
  overflow: hidden;
  position: relative;
  will-change: transform;
  border-radius: 50%;

}

.gallery__item-imginner {
  background-size: cover;
  background-position: 50% 0;
  width: calc(100% + 10vw);
  margin-left: -5vw;
  height: 100%;
  will-change: transform;
}

.gallery__item-caption {
  grid-area: 1 / 1 / 4 / 3;
  display: grid;
  grid-template-areas: 'gallery-number gallery-title'
    'gallery-link ...'
    'gallery-link gallery-tags';
  grid-template-columns: 8rem auto;
  grid-template-rows: 8rem auto 3rem;

}

.gallery__item-number {
  grid-area: gallery-number;
  font-size: 6rem;
  font-size: clamp(2.5rem, 9vw, 6.5rem);
  justify-self: end;
  padding-right: 2rem;
  color: #C2FF04;
}

.gallery__item-title {
  grid-area: gallery-title;
  margin: 0;
  font-size: 4rem;
  font-size: clamp(2rem, 5vw, 4rem);
  color: #fff;
}

.gallery__item-number,
.gallery__item-title,
.gallery__text {
  font-family: "Tulpen One";
  font-weight: 800;
  font-style: italic;
  align-self: center;
}

.gallery__item-link {
  font-family: "Abel";
  text-transform: uppercase;
}

.gallery__item-link {
  grid-area: gallery-link;
  align-self: end;
  font-size: 1.5rem;
  background: #C2FF04;
  color: #000;
  text-decoration: underline;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.gallery__item-link:focus,
.gallery__item-link:hover {
  background: #fff;
  color: #C2FF04;
  text-decoration: none;
}

.gallery__text {
  font-size: 20vw;
  line-height: 0.8;
  margin: 0 12vw;
  text-transform: lowercase;
  color: #fff;
}

.gallery__text-inner {
  display: block;
  font-family: "Tulpen One";
}




/* section10 */
#section10 {
  width: 150vw;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
}

#section10 .mainTitle {
  line-height: 1.03;
  margin: auto;
  z-index: 1;
}

#section10 .mainTitle p {
  font-size: 6vw;
  color: #fff;
  font-weight: 700;
  font-family: "Syncopate";
  letter-spacing: -4px;
}

#section10 .img {
  width: 38.5417vw;
  position: absolute;
  right: 0;
}

#section10 .mainTitle p:nth-child(2) {
  font-weight: 400;
  padding-left: 10vw;
}

#section10 .mainTitle p:nth-child(3) {
  padding-left: 1vw;
}

#section10 .mainTitle p:nth-child(4) {
  font-weight: 400;
  padding-left: 21vw;
}

#section10 .mainTitle p:nth-child(5) {
  padding-left: 13vw;
}

#section10 .mainTitle p:nth-child(6) {
  margin-left: 18vw;
  width: 28.6458vw;
  outline: 0.5208vw solid #C2FF04;
}


/* section11 */
#section11 {
  width: 50vw;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid #fff;
  background: #000;
}

#section11 .mainTitle1 {
  position: absolute;
  width: 480px;
  font-size: 1vw;
  color: #fff;
  font-family: "IropkeBatang";
  letter-spacing: -1px;
  line-height: 1.3;
  max-width: 100%;
  top: 15%;
  left: 7%;
}

#section11 .mainTitle2 {
  position: absolute;
  width: 520px;
  font-size: 1vw;
  color: #fff;
  font-family: "IropkeBatang";
  letter-spacing: -1px;
  line-height: 1.3;
  max-width: 100%;
  top: 60%;
  left: 50%;
}


/* section12 */
#section12 {
  width: 100vw;
  height: 100vh;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
}

#section12 .skill_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#section12 .skill {
  margin-left: 100px;
}

#section12 .skill img {
  width: 24vw;
  height: 12vw;
}

#section12 .photo {
  position: absolute;
  right: 10%;
  top: 15%;
}

#section12 .photo img {
  width: 18vw;
  height: 18vw;
}

#section12 .skill h2 {
  font-family: "Abhaya Libre";
  font-size: 2vw;
  text-transform: uppercase;
  color: #fff;
}

#section12 .intro {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
}

#section12 .intro .intro_text1 {
  margin-right: 3vw;
}

#section12 .intro .intro_text2 {
  margin-right: 3vw;
}

#section12 .intro .intro_text1 h2 {
  font-family: "Abhaya Libre";
  font-size: 2vw;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 5px;
}

#section12 .intro .intro_text1 h2>em {
  font-family: "Abhaya Libre";
  font-size: 1vw;
  text-transform: uppercase;
  color: #C2FF04;
}

#section12 .intro .intro_text1 p {
  font-family: "IropkeBatang";
  font-size: 1vw;
  color: #fff;
  width: 19vw;
  white-space: normal;
  line-height: 1.3;
}

#section12 .intro .intro_text2 h2 {
  font-family: "Abhaya Libre";
  font-size: 2vw;
  text-transform: uppercase;
  color: #fff;
}

#section12 .intro .intro_text2 h2>em {
  font-family: "Abhaya Libre";
  font-size: 1vw;
  text-transform: uppercase;
  color: #C2FF04;
}

#section12 .intro .intro_text2 p {
  font-family: "IropkeBatang";
  font-size: 1vw;
  color: #fff;
  width: 19vw;
  white-space: normal;
  line-height: 1.3;
}

#section12 .intro .intro_text3 h2 {
  font-family: "Abhaya Libre";
  font-size: 2vw;
  text-transform: uppercase;
  color: #fff;
}

#section12 .intro .intro_text3 h2>em {
  font-family: "Abhaya Libre";
  font-size: 1vw;
  text-transform: uppercase;
  color: #C2FF04;
}

#section12 .intro .intro_text3 p {
  font-family: "IropkeBatang";
  font-size: 1vw;
  color: #fff;
  width: 19vw;
  white-space: normal;
  line-height: 1.3;
}


/* setion13 */
#section13 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#section13 .contact {
  margin-left: 5vw;
}

#section13 span {
  color: #fff;
  font-size: 8vw;
  font-weight: 700;
  font-family: "Syncopate";

}

#section13 .p1 {
  width: 26vw;
  white-space: normal;
  font-family: "Abhaya Libre";
  color: #fff;
  font-size: 3vw;
  text-transform: uppercase;
  margin-top: 2vw;
}

#section13 a {
  font-family: "Abhaya Libre";
  text-transform: uppercase;
  font-size: 1.5vw;
  color: #C2FF04;
  border: 3px solid #C2FF04;
  border-radius: 50px;
  padding: 1vw 3vw;
  width: 15vw;
  text-align: center;
  margin-top: 3vw;
  display: inline-block;
}

#section13 .p2 {
  width: 25vw;
  white-space: normal;
  font-family: "Abhaya Libre";
  color: #fff;
  font-size: 1.5vw;
  text-transform: uppercase;
  margin-top: 3vw;
}


/* footer */
#footer {
  font-family: "Abel";
  width: 100vw;
  position: fixed;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 0.5vw 1vw;
  text-transform: uppercase;
  display: flex;
  font-size: 1em;
  white-space: nowrap;
  bottom: -100%;
}

#footer span {
  padding: 0 20px;
}

#footer em {
  color: #C2FF04;
}

#footer span::before {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: #C2FF04;
  top: 8px;
  margin-left: -14px;
}

#footer span::after {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: #C2FF04;
  top: 8px;
  margin-left: 10px;
}

.marquee_wrap {
  will-change: transform;
}

.marquee_box {
  will-change: transform;
  animation: marquee 20s linear infinite running;
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(-100%)
  }
}

.slideImg:hover>iframe,
.mouseImg:hover>iframe,
.searchImg:hover>iframe,
.parallaxImg:hover>iframe {
  opacity: 1;
}

.slideImg:hover>img,
.mouseImg:hover>img,
.searchImg:hover>img,
.parallaxImg:hover>img {
  display: none;
  transition: all 1s;
}



/* media */
@media (max-width:1200px) {

  #section3 .view1 .site_view,
  #section3 .view2 .site_view,
  #section3 .view3 .site_view,
  #section3 .view4 .site_view,
  #section3 .view5 .site_view {
    height: 25vh;
  }

  #section3 .view1 .site,
  #section3 .view2 .site,
  #section3 .view3 .site,
  #section3 .view4 .site,
  #section3 .view5 .site {
    background-size: contain;
    height: 15vh;
  }

  #section5 .view1 .script_view,
  #section5 .view2 .script_view,
  #section5 .view3 .script_view,
  #section5 .view4 .script_view {
    height: 60vh;
  }

}


@media (max-width:768px) {
  #header .dot {
    display: none;
  }
}

@media (max-width:480px) {
  #header .center {
    display: none;
  }

  #section3 .view p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 42vw;
  }

  #section3 .view1 .site,
  #section3 .view2 .site,
  #section3 .view3 .site,
  #section3 .view4 .site,
  #section3 .view5 .site {
    top: 52%;
  }

  #section3 .view1 .site_view,
  #section3 .view2 .site_view,
  #section3 .view3 .site_view,
  #section3 .view4 .site_view,
  #section3 .view5 .site_view {
    height: 20vh;
  }

  #section5 .view1 .script_view,
  #section5 .view2 .script_view,
  #section5 .view3 .script_view,
  #section5 .view4 .script_view {
    height: 30vh;
  }

  #section5 .view1 .script_text,
  #section5 .view3 .script_text,
  #section5 .view2 .script_text,
  #section5 .view4 .script_text {
    margin-left: 9vw;
    top: -12%;
  }

  #section7 .slide .script_text,
  #section7 .mouse .script_text,
  #section7 .search .script_text,
  #section7 .parallax .script_text {
    bottom: -55%;
  }

  #section11 .mainTitle1 {
    top: 36%;
  }

  #section11 .mainTitle2 {
    top: 51.5%;
    left: 38%;
  }

  #section12 {
    justify-content: center;
  }

  #section12 .intro {
    margin-top: 100px;
  }

  #section12 .photo {
    top: 34%;
  }

  #section13 a {
    width: 18vw;
  }
}
