body {
    height: 40000px;
    background: #000;
    -ms-overflow-style: none;
    font-size: 0.8vw;
}

/* ::-webkit-scrollbar {
    display: none;
} */

#wrap {
    margin: 0 auto;
    height: 100%;
    width: 40000px;
}

* {
    margin: 0;
    padding: 0;
}


.scrollTop {
    position: fixed;
    left: 30px;
    top: 100px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    z-index: 10000;
}

#header {
    border-bottom: 1px solid #ffff;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    position: fixed;
    width: 100%;
    padding: 10px 0;
    top: -100%;
    z-index: 99999;
    font-family: "abel";
    height: 62px;
}

#header div {
    overflow-x: hidden;
    padding: 10px;
}

#header div:nth-child(2) {
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    position: relative;
    overflow: hidden;
    min-width: 25vw;
}

#header div:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to right,
            rgb(0, 0, 0) 0%,
            rgba(0, 0, 0, 0.75) 51%,
            rgba(170, 0, 0, 0) 100%);
}

#header div:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to right,
            rgba(170, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.75) 51%,
            rgb(0, 0, 0) 100%);
}

#header div:nth-child(2) span {
    padding: 0 1vw;
    white-space: nowrap;
    position: absolute;
}

#header .link {
    padding: 0 2vw;
    color: #fff;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    max-width: 0;
    transition: 0.5s ease;
    z-index: 1;
    display: none;
    color: #fff;
    font-size: 2em;
    width: 150px;
}

.menu ul {
    text-align: center;
    margin-top: 50px;
}

.menu ul li {
    margin-top: 10px;
}

.burger-icon {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    z-index: 2;
    padding: 8px 0;
    top: 0px;
    right: 10px;
    user-select: none;
    width: auto;
    margin: 0;
}

.burger-icon .burger-sticks {
    background: #fff;
    display: none;
    height: 3px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 30px;
    top: 19px;
}

.burger-icon .burger-sticks:before,
.burger-icon .burger-sticks:after {
    background: #fff;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.burger-icon .burger-sticks:before {
    top: 8px;
}

.burger-icon .burger-sticks:after {
    top: -8px;
}

.burger-check {
    display: none;
}

.burger-check:checked~.menu {
    max-width: 300px;
}

.burger-check:checked~.burger-icon .burger-sticks {
    background: transparent;
}

.burger-check:checked~.burger-icon .burger-sticks:before {
    transform: rotate(-45deg);
}

.burger-check:checked~.burger-icon .burger-sticks:after {
    transform: rotate(45deg);
}

.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {
    top: 0;
}

/* main */
#main {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    height: 100vh;
}

#main .mainSecter {
    width: 100vw;
}
#main .site {
    width: 100vw;
}


#main #section1 {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

#main #section1 .mainTitle {
    line-height: 1.03;
    max-width: 100%;
    margin: auto;
    clear: both;
    opacity: 0;

}

#main #section1 .mainTitle p {
    font-size: 7em;
    color: #fff;
    font-family: "Syncopate";
    letter-spacing: -4px;
}


#main #section1 .mainTitle p:nth-child(1) {
    text-align: center;
}

#main #section1 .mainTitle p:nth-child(2) {
    text-align: center;
    padding-right: 30vw;
}

#main #section1 .mainTitle p:nth-child(3) {
    padding-left: 10vw;
    text-align: center;
    clear: both;
}

#main #section1 .mainTitle em {
    font-style: normal;
    font-size: 1em;
    color: #fff;
    float: right;
    font-family: "abel";
    margin-top: 10px;
}


#main #section1 .mainTitle .images {
    padding: 0 0 0 10px;
    float: right;
}

#main #section2 {
    display: flex;
    align-items: center;
    justify-content: center;

}

#main #section2 .mainTitle .text1 {
    text-align: center;
    font-family: "Syncopate";
    font-size: 7em;
    color: #fff;
}

#main #section2 .mainTitle .text2 {
    text-align: center;
    font-family: "Tulpen One";
    font-size: 7em;
    color: #fff;
}

#main #section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#section3 .imgTitle {
    display: inline-block;
    position: relative;
    right: -7vw;
    bottom: 10vh;
    width: 46.8750vw;
    height: 22.3958vw;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    -webkit-clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
    clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
}

#section3 .img {
    background-image: url(../img/Rectangle.png);
    filter: blur(10px) brightness(50%);
    position: absolute;
    top: 0.4167vw;
    left: 0.4167vw;
    width: 46.1458vw;
    height: 21.5625vw;
    -webkit-clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
    clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
}

#section3 img {
    position: absolute;
    width: 31.2500vw;
    height: 23.4375vw;
    left: 50%;
    top: 40%;
}

#section3 h2 {
    color: #fff;
    position: absolute;
    z-index: 99999;
    font-family: "Tulpen One";
    font-size: 7em;
    font-weight: normal;
    right: 57%;
    bottom: 67%;
}

#section3 p {
    color: #fff;
    position: absolute;
    z-index: 99999;
    font-family: 'ChosunNm';
    font-size: 0.8em;
    font-weight: normal;
    width: 20.8333vw;
    right: 54%;
    bottom: 53%;
    line-height: 1.8;
}

#section3 .buttons {
    margin-right: 20px;
    display: inline-block;
    position: relative;
    right: 39vw;
    top: 12.5000vw;
    width: 10.6771vw;
    height: 3.6458vw;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    -webkit-clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
    clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
    transition: background-color 0.3s;
}

#section3 .button {
    position: absolute;
    top: 0.2083vw;
    left: 0.2083vw;
    right: -4px;
    width: 10.1563vw;
    height: 3.2292vw;
    background: #000;
    -webkit-clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
    clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Tulpen One";
    font-size: 2em;
    transition: color 0.3s;
}

#section3 .buttons:hover {
    background: #C2FF04;
}

#section3 .button:hover {
    color: #C2FF04;
}

#main #section4 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#section4 .imgTitle {
    display: inline-block;
    position: relative;
    right: -7vw;
    bottom: 10vh;
    width: 46.8750vw;
    height: 22.3958vw;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    -webkit-clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
    clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);

}

#section4 .img {
    background-image: url(../img/Rectangle.png);
    filter: blur(10px) brightness(50%);
    position: absolute;
    top: 0.4167vw;
    left: 0.4167vw;
    width: 46.1458vw;
    height: 21.5625vw;
    -webkit-clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
    clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
}

#section4 img {
    position: absolute;
    width: 31.2500vw;
    height: 23.4375vw;
    left: 50%;
    top: 40%;
}

#section4 h2 {
    color: #fff;
    position: absolute;
    z-index: 99999;
    font-family: "Tulpen One";
    font-size: 7em;
    font-weight: normal;
    right: 60.5%;
    bottom: 67%;
}

#section4 p {
    color: #fff;
    position: absolute;
    z-index: 99999;
    font-family: 'ChosunNm';
    font-size: 0.8em;
    font-weight: normal;
    width: 20.8333vw;
    right: 54.5%;
    bottom: 58%;
    line-height: 1.8;
}

#section4 .buttons {
    margin-right: 20px;
    display: inline-block;
    position: relative;
    right: 39vw;
    top: 12.5000vw;
    width: 10.6771vw;
    height: 3.6458vw;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    -webkit-clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
    clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
    transition: background-color 0.3s;
}

#section4 .button {
    position: absolute;
    top: 0.2083vw;
    left: 0.2083vw;
    right: -4px;
    width: 10.1563vw;
    height: 3.2292vw;
    background: #000;
    -webkit-clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
    clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Tulpen One";
    font-size: 2em;
    transition: color 0.3s;
}

#section4 .buttons:hover {
    background: #C2FF04;
}

#section4 .button:hover {
    color: #C2FF04;
}

#main #section5 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#section5 .imgTitle {
    display: inline-block;
    position: relative;
    right: -7vw;
    bottom: 10vh;
    width: 46.8750vw;
    height: 22.3958vw;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    -webkit-clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
    clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);

}

#section5 .img {
    background-image: url(../img/Rectangle.png);
    filter: blur(10px) brightness(50%);
    position: absolute;
    top: 0.4167vw;
    left: 0.4167vw;
    width: 46.1458vw;
    height: 21.5625vw;
    -webkit-clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
    clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
}

#section5 img {
    position: absolute;
    width: 31.2500vw;
    height: 23.4375vw;
    left: 50%;
    top: 40%;
}

#section5 h2 {
    color: #fff;
    position: absolute;
    z-index: 99999;
    font-family: "Tulpen One";
    font-size: 7em;
    font-weight: normal;
    right: 58%;
    bottom: 67%;
}

#section5 p {
    color: #fff;
    position: absolute;
    z-index: 99999;
    font-family: 'ChosunNm';
    font-size: 0.8em;
    font-weight: normal;
    width: 20.8333vw;
    right: 54.5%;
    bottom: 55%;
    line-height: 1.8;
}

#section5 .buttons {
    margin-right: 20px;
    display: inline-block;
    position: relative;
    right: 39vw;
    top: 12.5000vw;
    width: 10.6771vw;
    height: 3.6458vw;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    -webkit-clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
    clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
    transition: background-color 0.3s;
}

#section5 .button {
    position: absolute;
    top: 0.2083vw;
    left: 0.2083vw;
    right: -0.2083px;
    width: 10.1563vw;
    height: 3.2292vw;
    background: #000;
    -webkit-clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
    clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Tulpen One";
    font-size: 2em;
    transition: color 0.3s;
}

#section5 .buttons:hover {
    background: #C2FF04;
}

#section5 .button:hover {
    color: #C2FF04;
}

/* section10 */
#section6 .slide {
    width: 52.0833vw;
    height: 26.0417vw;
    position: relative;
    background-image: url(../img/slider.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s;
}
.slide iframe {
    opacity: 0;
    transition: all 0.5s;
}

#section6 p {
    font-family: "Tulpen One";
    font-size: 3em;
    color: #fff;
    float: right;
    margin-bottom: 15%;
}

#section6 a {
    width: 11.4583vw;
    height: 3.1250vw;
    position: absolute;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    color: #fff;
    font-family: "Tulpen One";
    outline: 1px solid #fff;
    top: 82%;
    display: flex;
    align-items: center;
    left: 3%;
    font-size: 2em;
    padding-left: 0.6771vw;
    opacity: 0;
    transition: all 0.5s;
}
#section6 a .arrow {
    position: absolute;
    left: 5.2083vw;
}

/* section11 */
#section7 .mouse {
    width: 35.9375vw;
    height: 18.2292vw;
    margin-top: 50%;
    position: relative;
    background-image: url(../img/mouse.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s;
}

.mouse iframe {
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    top: 0;
}

#section7 p {
    font-family: "Tulpen One";
    font-size: 3em;
    color: #fff;
    float: right;
    margin-top:43%;
}
#section7 a {
    width: 11.4583vw;
    height: 3.1250vw;
    position: absolute;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    color: #fff;
    font-family: "Tulpen One";
    border: 1px solid #fff;
    top: 74%;
    display: flex;
    align-items: center;
    justify-content: left;
    left: 4%;
    font-size: 2em;
    padding-left: 0.6771vw;
    opacity: 0;
    transition: all 0.5s;
}
#section7 a .arrow {
    position: absolute;
    left: 100px;
}


/* section8 */
#section8 .search {
    width: 49.4792vw;
    height: 23.4375vw;
    position: relative;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s;
}

.search iframe {
    opacity: 0;
    transition: all 0.5s;
}

#section8 p {
    font-family: "Tulpen One";
    font-size: 3em;
    color: #fff;
    float: right;
    margin-bottom: 10%;
}
#section8 a {
    width: 11.4583vw;
    height: 3.1250vw;
    position: absolute;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    color: #fff;
    font-family: "Tulpen One";
    border: 1px solid #fff;
    top: 79%;
    display: flex;
    align-items: center;
    justify-content: left;
    left: 3%;
    font-size: 2em;
    padding-left: 0.6771vw;
    opacity: 0;
    transition: all 0.5s;
}
#section8 a .arrow {
    position: absolute;
    left: 5.2083vw;
}

/* section9 */
#section9 .parallax {
    width: 39.0625vw;
    height: 18.2292vw;
    margin-top: 30%;
    position: relative;
    background-image: url(../img/parallax.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s;
}

.parallax iframe {
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    top: 0;
}

#section9 p {
    font-family: "Tulpen One";
    font-size: 3em;
    color: #fff;
    float: right;
    margin-top:23.5%;
}
#section9 a {
    width: 11.4583vw;
    height: 3.1250vw;
    position: absolute;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    color: #fff;
    font-family: "Tulpen One";
    outline: 1px solid #fff;
    top: 75%;
    display: flex;
    align-items: center;
    justify-content: left;
    left: 3%;
    font-size: 2em;
    padding-left: 0.6771vw;
    opacity: 0;
    transition: all 0.5s;
}
#section9 a .arrow {
    position: absolute;
    left: 5.2083vw;
}










/* section10 */
#section10 .tetris {
    width: 25.6771vw;
    height: 31.4063vw;
    position: relative;
    background-image: url(../img/tetris.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s;
}
.tetris iframe {
    opacity: 0;
    transition: all 0.5s;
}

#section10 p {
    font-family: "Tulpen One";
    font-size: 3em;
    color: #fff;
    float: right;
    width: 150px;
    margin-left: 5px;
    margin-top: -1%;
}

#section10 a {
    width: 11.4583vw;
    height: 3.1250vw;
    position: absolute;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    color: #fff;
    font-family: "Tulpen One";
    outline: 1px solid #fff;
    top: 5%;
    display: flex;
    align-items: center;
    left: 45%;
    font-size: 2em;
    padding-left: 0.6771vw;
    opacity: 0;
    transition: all 0.5s;
}
#section10 a .arrow {
    position: absolute;
    left: 5.2083vw;
}

/* section11 */
#section11 .memory {
    width: 19.9479vw;
    height: 31.4063vw;
    margin-top: 20%;
    position: relative;
    background-image: url(../img/memory.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s;
}

.memory iframe {
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    top: 0;
}

#section11 p {
    font-family: "Tulpen One";
    font-size: 3em;
    color: #fff;
    float: right;
    width: 150px;
    margin-left: 6px;
    margin-top: 19%;
}
#section11 a {
    width: 11.4583vw;
    height: 3.1250vw;
    position: absolute;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    color: #fff;
    font-family: "Tulpen One";
    border: 1px solid #fff;
    top: 83%;
    display: flex;
    align-items: center;
    justify-content: left;
    left: 8%;
    font-size: 2em;
    padding-left: 0.6771vw;
    opacity: 0;
    transition: all 0.5s;
}
#section11 a .arrow {
    position: absolute;
    left: 100px;
}


/* section12 */
#section12 .typing {
    width: 20.1563vw;
    height: 24.6354vw;
    position: relative;
    background-image: url(../img/typing.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s;
}

.typing iframe {
    opacity: 0;
    transition: all 0.5s;
}

#section12 p {
    font-family: "Tulpen One";
    font-size: 3em;
    color: #fff;
    float: right;
    width: 150px;
    margin-left: 6px;
    margin-top: -1%;
}
#section12 a {
    width: 11.4583vw;
    height: 3.1250vw;
    position: absolute;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    color: #fff;
    font-family: "Tulpen One";
    border: 1px solid #fff;
    top: 81%;
    display: flex;
    align-items: center;
    justify-content: left;
    left: 6%;
    font-size: 2em;
    padding-left: 0.6771vw;
    opacity: 0;
    transition: all 0.5s;
}
#section12 a .arrow {
    position: absolute;
    left: 5.2083vw;
}

/* section13 */
#section13 .music {
    width: 20.1146vw;
    height: 24.7531vw;
    margin-top: 30%;
    position: relative;
    background-image: url(../img/musicplayer.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s;
}

.music iframe {
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    top: 0;
}

#section13 p {
    font-family: "Tulpen One";
    font-size: 3em;
    color: #fff;
    float: right;
    width: 150px;
    margin-left: 6px;
    margin-top: 29%;
}
#section13 a {
    width: 11.4583vw;
    height: 3.1250vw;
    position: absolute;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    color: #fff;
    font-family: "Tulpen One";
    outline: 1px solid #fff;
    top: 7%;
    display: flex;
    align-items: center;
    justify-content: left;
    left: 31%;
    font-size: 2em;
    padding-left: 0.6771vw;
    opacity: 0;
    transition: all 0.5s;
}
#section13 a .arrow {
    position: absolute;
    left: 5.2083vw;
}





/* section14 */
#section14 .mysql {
    width: 13.9583vw;
    height: 13.9583vw;
    margin-top: -120%;
    position: relative;
    background-image: url(../img/mysql.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s;
    border-radius: 50%;
}

#section14 p {
    font-family: "Tulpen One";
    font-size: 5em;
    color: #fff;
    text-align: center;
    position: absolute;
    margin-top: 60%;
    margin-left: 30%;
}

#section15 .html {
    width: 13.9583vw;
    height: 13.9583vw;
    margin-top: 130%;
    position: relative;
    background-image: url(../img/html.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s;
    border-radius: 50%;
}

#section15 p {
    font-family: "Tulpen One";
    font-size: 5em;
    color: #fff;
    text-align: center;
    position: absolute;
    margin-top: 60%;
    margin-left: 15%;
}

#section16 .layout {
    width: 13.9583vw;
    height: 13.9583vw;
    margin-top: -30%;
    position: relative;
    background-image: url(../img/css.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s;
    border-radius: 50%;
}

#section16 p {
    font-family: "Tulpen One";
    font-size: 5em;
    color: #fff;
    text-align: center;
    position: absolute;
    margin-top: 60%;
    margin-left: 29%;
}

#section17 .javascript {
    width: 13.9583vw;
    height: 13.9583vw;
    margin-top: 150%;
    position: relative;
    background-image: url(../img/javascript.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s;
    border-radius: 50%;
}

#section17 p {
    font-family: "Tulpen One";
    font-size: 5em;
    color: #fff;
    text-align: center;
    position: absolute;
    margin-top: 60%;
    margin-left: 15%;
}

#section18 .algorithm {
    width: 13.9583vw;
    height: 13.9583vw;
    margin-top: -100%;
    position: relative;
    background-image: url(../img/algorithm.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s;
        border-radius: 50%;
}

#section18 .algorithm p {
    position: absolute;
    font-family: "Tulpen One";
    font-size: 5em;
    color: #fff;
    text-align: center;
    margin-top: 60%;
    margin-left: 15%;
}



#scriptEffect {
    display: flex;
    align-items: center;
}

#scriptGame {
    display: flex;
    align-items: center;
}

#scriptStudy {
    display: flex;
    align-items: center;
}

#scriptStudy .study {
    margin-right: 2vw;
}


#scriptEffect .effect {
    margin-right: 10vw;
}

#scriptGame .game {
    margin-right: 10vw;
    display: flex;
}


#scriptEffect .slide:hover > a,
#scriptEffect .mouse:hover > a,
#scriptEffect .search:hover > a,
#scriptEffect .parallax:hover > a{
    opacity: 1;
}
#scriptEffect .slide:hover,
#scriptEffect .mouse:hover,
#scriptEffect .search:hover,
#scriptEffect .parallax:hover {
    outline: 6px solid #C2FF04;
}

#scriptEffect .slide:hover > iframe,
#scriptEffect .mouse:hover > iframe,
#scriptEffect .search:hover > iframe,
#scriptEffect .parallax:hover > iframe {
    opacity: 1;
}



#scriptGame .tetris:hover > a,
#scriptGame .memory:hover > a,
#scriptGame .typing:hover > a,
#scriptGame .music:hover > a{
    opacity: 1;
}
#scriptGame .tetris:hover,
#scriptGame .memory:hover,
#scriptGame .typing:hover,
#scriptGame .music:hover {
    outline: 6px solid #C2FF04;
}
#scriptGame .tetris:hover > iframe,
#scriptGame .memory:hover > iframe,
#scriptGame .typing:hover > iframe,
#scriptGame .music:hover > iframe {
    opacity: 1;
}


#scriptStudy .mysql:hover,
#scriptStudy .html:hover,
#scriptStudy .layout:hover,
#scriptStudy .javascript:hover,
#scriptStudy .algorithm:hover {
    outline: 6px solid #fff;

}



#footer {
    bottom: -100%;
    left: 0;
    border-top: 1px solid #ffff;
    font-size: 15px;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    position: fixed;
    width: 100%;
    height: 41px;
    overflow: hidden;
    font-family: "abel";
}

#footer .roller {
    display: flex;
    position: absolute;
    padding: 5px;
}

#footer div {
    color: #fff;
    font-size: 1.2em;
    white-space: nowrap;
}

#footer .roller .portfolio {
    color: #fff;
    font-size: 1.2em;
    padding: 5px;
    color: #c2ff04;
    padding: 0 10px;
}
