body {
    width: 100%;
    background: #000;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}


* {
    margin: 0;
    padding: 0;
}

#wrap {
    height: 100vh;
    width: 100%;
}

.scrollTop {
    position: fixed;
    left: 30px;
    top: 100px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    z-index: 10000;
}

#header {
    border-bottom: 1px solid #ffff;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    position: fixed;
    width: 100%;
    padding: 10px 0;
    top: -100%;
    z-index: 99999;
}

#header div {
    overflow-x: hidden;
    padding: 10px;
}

#header div:nth-child(2) {
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    position: relative;
    overflow: hidden;
    min-width: 25vw;
}

#header div:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to right,
            rgb(0, 0, 0) 0%,
            rgba(0, 0, 0, 0.75) 51%,
            rgba(170, 0, 0, 0) 100%);
}

#header div:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to right,
            rgba(170, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.75) 51%,
            rgb(0, 0, 0) 100%);
}

#header div:nth-child(2) span {
    padding: 0 10px;
    white-space: nowrap;
    position: absolute;
}

#header .link {
    padding: 0 20px;
    font-family: "abel";
    color: #fff;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    max-width: 0;
    transition: 0.5s ease;
    z-index: 1;
    display: none;
}

.menu ul {
    text-align: center;
    margin-top: 50px;
}

.menu ul li {
    margin-top: 10px;
}

.burger-icon {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    z-index: 2;
    padding: 8px 0;
    top: 0px;
    right: 10px;
    user-select: none;
    width: auto;
    margin: 0;
}

.burger-icon .burger-sticks {
    background: #fff;
    display: none;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 30px;
}

.burger-icon .burger-sticks:before,
.burger-icon .burger-sticks:after {
    background: #fff;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.burger-icon .burger-sticks:before {
    top: 8px;
}

.burger-icon .burger-sticks:after {
    top: -8px;
}

.burger-check {
    display: none;
}

.burger-check:checked~.menu {
    max-width: 300px;
}

.burger-check:checked~.burger-icon .burger-sticks {
    background: transparent;
}

.burger-check:checked~.burger-icon .burger-sticks:before {
    transform: rotate(-45deg);
}

.burger-check:checked~.burger-icon .burger-sticks:after {
    transform: rotate(45deg);
}

.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {
    top: 0;
}

/* main */
#main {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
}

#main .mainSecter {
    width: 100vw;
    height: 100vh;
}

#main #section1 {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

#main #section1 .mainTitle {
    line-height: 1.03;
    max-width: 100%;
    margin: auto;
    clear: both;
    opacity: 0;
}

#main #section1 .mainTitle p {
    font-size: 7rem;
    color: #fff;
    font-family: "Syncopate";
    letter-spacing: -4px;
}


#main #section1 .mainTitle p:nth-child(1) {
    text-align: center;
}

#main #section1 .mainTitle p:nth-child(2) {
    text-align: center;
    padding-right: 70vh;
}

#main #section1 .mainTitle p:nth-child(3) {
    padding-left: 30vh;
    text-align: center;
    clear: both;
}

#main #section1 .mainTitle em {
    font-style: normal;
    font-size: 1rem;
    color: #fff;
    float: right;
    font-family: "abel";
    margin-top: 10px;
}


#main #section1 .mainTitle .images {
    padding: 0 0 0 10px;
    float: right;
}

#main #section2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main #section2 .mainTitle .text1 {
    text-align: center;
    font-family: "Syncopate";
    font-size: 7rem;
    color: #fff;
    opacity: 0;
}

#main #section2 .mainTitle .text2 {
    text-align: center;
    font-family: "Tulpen One";
    font-size: 7rem;
    color: #fff;
    opacity: 0;
}

#main #section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#section3 .imgTitle {
    opacity: 0;
    display: inline-block;
    position: relative;
    right: -7vw;
    bottom: 10vh;
    width: 1100px;
    height: 530px;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    -webkit-clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
    clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
}

#section3 .img {
    background-image: url(../img/Rectangle.png);
    filter: blur(10px) brightness(50%);
    position: absolute;
    top: 8px;
    /* equal to border thickness */
    left: 8px;
    /* equal to border thickness */
    width: 1084px;
    /* container height - (border thickness * 2) */
    height: 514px;
    /* container height - (border thickness * 2) */
    -webkit-clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
    clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
}

#section3 img {
    position: absolute;
    width: 700px;
    height: 500px;
    left: 50%;
    top: 40%;
    opacity: 0;
}

#section3 h2 {
    color: #fff;
    position: absolute;
    z-index: 99999;
    font-family: "Tulpen One";
    font-size: 7rem;
    font-weight: normal;
    right: 63%;
    bottom: 70%;
    opacity: 0;
}

#section3 p {
    color: #fff;
    position: absolute;
    z-index: 99999;
    font-family: 'ChosunNm';
    font-size: 1rem;
    font-weight: normal;
    width: 500px;
    right: 55.5%;
    bottom: 50%;
    line-height: 1.8;
    opacity: 0;
}

#section3 .buttons {
    margin-right: 20px;
    display: inline-block;
    position: relative;
    right: 44vw;
    top: 35vh;
    width: 255px;
    height: 80px;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    -webkit-clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
    clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
    transition: background-color 0.3s;
    opacity: 0;
}

#section3 .button {
    position: absolute;
    top: 4px;
    /* equal to border thickness */
    left: 4px;
    /* equal to border thickness */
    right: -4px;
    width: 247px;
    /* container height - (border thickness * 2) */
    height: 72px;
    /* container height - (border thickness * 2) */
    background: #000;
    -webkit-clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
    clip-path: polygon(0 0, 88% 0, 100% 28%, 100% 70%, 100% 100%, 12% 100%, 0 72%, 0% 30%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Tulpen One";
    font-size: 3rem;

}

#section3 .buttons:hover {
    background: #C2FF04;
}

#footer {
    bottom: -100%;
    left: 0;
    border-top: 1px solid #ffff;
    font-size: 1rem;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    position: fixed;
    width: 100%;
    height: 41px;
    overflow: hidden;
    font-family: "abel";
}

#footer .roller {
    display: flex;
    position: absolute;
    padding: 5px;
}

#footer div {
    color: #fff;
    font-size: 1.5rem;
    white-space: nowrap;
}

/* #footer .roller .independent::after {
    content: "";
    right: 0px;
    top: 45%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #c2ff04;
    position: absolute;
} */

/* #footer .roller .portfolio::after {
    content: "";
    right: 2px;
    top: 45%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #c2ff04;
    position: absolute;
} */


#footer .roller .portfolio {
    color: #fff;
    font-size: 1.5rem;
    padding: 5px;
    color: #c2ff04;
    padding: 0 10px;
}

@media (max-width: 1700px) {
    #main .mainTitle p {
        font-size: 6rem;
        white-space: nowrap;
    }

    #main .mainTitle p:nth-child(1) {
        text-align: center;
    }

    #main .mainTitle p:nth-child(2) {
        text-align: center;
    }

    #main .mainTitle p:nth-child(3) {
        padding-left: 25vh;
        text-align: center;
        clear: both;
    }
}

@media (max-width: 1260px) {
    #main #section1 .mainTitle p {
        white-space: nowrap;
    }

    #main #section1 .mainTitle p:nth-child(1) {
        text-align: center;
    }

    #main #section1 .mainTitle p:nth-child(2) {
        text-align: center;
        padding-right: 0;
    }

    #main #section1 .mainTitle p:nth-child(3) {
        padding-left: 0;
        text-align: center;
        clear: both;
    }
}

@media (max-width: 1070px) {
    #main #section1 .mainTitle p {
        font-size: 5rem;
    }

    #main #section1 .mainTitle {
        padding: 5px;
    }

    #header div .link {
        display: none;
    }

    .roller0 {
        font-size: 1rem;
    }

    .menu {
        display: block;
    }

    .burger-icon {
        top: 20px;
        right: 20px;
    }

    .burger-icon .burger-sticks {
        display: block;
    }

    #header div:nth-child(2) {
        padding: 20px;
    }

    #header div:nth-child(2) span {
        bottom: 0px;
        padding: 10px;
    }

    #main #section2 .mainTitle .text1 {
        font-size: 5rem;
    }

    #main #section2 .mainTitle .text2 {
        font-size: 5rem;
    }
}

@media (max-width: 900px) {
    #main #section1 .mainTitle p {
        font-size: 4rem;
    }

    #main #section1 .mainTitle {
        letter-spacing: -2px;
    }

    #main #section2 .mainTitle .text1 {
        font-size: 4rem;
    }

    #main #section2 .mainTitle .text2 {
        font-size: 4rem;
    }
}

@media (max-width: 700px) {
    #main #section1 .mainTitle p {
        font-size: 2rem;
    }

    #main #section1 .mainTitle em {
        margin-top: 0;
        font-size: 0.9rem;
        letter-spacing: -1px;
    }

    #main #section1 .mainTitle .images {
        display: none;
    }

    #main #section2 .mainTitle .text1 {
        font-size: 2rem;
    }

    #main #section2 .mainTitle .text2 {
        font-size: 2rem;
    }
}